.zeta-workbench-auxiliarybar {
  border-left: 1px solid var(--zeta-border);
  background: var(--zeta-auxiliary-bar-background);
}

.zeta-workbench-auxiliarybar > .zeta-auxiliarybar-content {
  overflow: hidden;
}
