.zeta-workbench-auxiliarybar {
  border: 1px solid var(--zeta-border);
  border-radius: 8px;
  background: var(--zeta-auxiliary-bar-background);
}

.zeta-workbench-auxiliarybar > .zeta-auxiliarybar-content {
  overflow: hidden;
}
