.stanza-editor .margin-view-overlays .line-numbers {
	bottom: 0;
	left: var(--stanza-editor-line-numbers-left);
	width: var(--stanza-editor-line-numbers-width);
	font-variant-numeric: tabular-nums;
	position: absolute;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	cursor: default;
}

.stanza-editor .relative-current-line-number {
	text-align: left;
	display: inline-block;
	width: 100%;
}

.stanza-editor .margin-view-overlays .line-numbers.lh-odd {
	margin-top: 1px;
}

.stanza-editor .line-numbers {
	color: var(--vscode-editorLineNumber-foreground);
}

.stanza-editor .line-numbers.active-line-number {
	color: var(--vscode-editorLineNumber-activeForeground);
}
