.stanza-editor .lines-decorations {
	position: absolute;
	top: 0;
	background: white;
}

/*
	Keeping name short for faster parsing.
	cldr = core lines decorations rendering (div)
*/
.stanza-editor .margin-view-overlays .cldr {
	position: absolute;
	left: calc(var(--stanza-editor-line-decorations-left) + var(--stanza-editor-line-decoration-offset));
	width: var(--stanza-editor-line-decoration-width);
	height: 100%;
}
