.zeta-pane-composite-title-content > .zeta-chat-tabs-control {
  min-width: 0;
  height: 100%;
  flex: 1 1 auto;
}

.zeta-chat-title-actions {
  display: flex;
  height: 100%;
  flex: 0 0 auto;
  align-items: center;
}

.zeta-chat-title-layout-actions.zeta-toolbar {
  height: 100%;
  flex: 0 0 auto;
}
