.ash-workbench-titlebar {
  color: var(--ash-title-bar-foreground);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  background: var(--ash-title-bar-background);
}

.ash-workbench-titlebar .ash-workbench-part-title {
  display: flex;
  min-width: 0;
  height: 100%;
  align-items: center;
  gap: 8px;
}

.ash-workbench-titlebar .ash-workbench-part-content {
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.ash-titlebar-app-icon {
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.ash-workbench[data-color-scheme="light"] .ash-titlebar-app-icon,
.ash-workbench[data-color-scheme="high-contrast-light"] .ash-titlebar-app-icon {
  background-image: url("../../media/ash-light.svg");
}

.ash-workbench[data-color-scheme="dark"] .ash-titlebar-app-icon,
.ash-workbench[data-color-scheme="high-contrast-dark"] .ash-titlebar-app-icon {
  background-image: url("../../media/ash-dark.svg");
}

.ash-workbench[data-os="mac"] .ash-titlebar-app-icon {
  display: none;
}

.ash-titlebar-actions {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--ash-title-bar-action-foreground);
}

.ash-titlebar-left-actions {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--ash-title-bar-action-foreground);
}
