.aster-editor-line-composition {
  position: absolute;
  inset: 0;
  z-index: 4;
  pointer-events: none;
}

.aster-editor.composing .aster-editor-composition {
  position: absolute;
  top: 0;
  bottom: 1px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--zeta-editor-foreground);
}
