.stanza-editor-line-composition {
	position: relative;
	box-sizing: border-box;
	min-width: 100%;
  z-index: 4;
  pointer-events: none;
}

.stanza-editor.composing .stanza-editor-composition {
  position: absolute;
  top: 0;
  bottom: 1px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--zeta-editor-foreground);
}
