.ash-workbench-sidebar,
.ash-workbench-agentSidebar {
  border: 0;
  border-radius: 0;
  background: var(--ash-side-bar-background);
}

.ash-workbench-sidebar {
  border-right: 1px solid var(--ash-border);
}

.ash-workbench-agentSidebar {
  border-left: 1px solid var(--ash-border);
}
.ash-sidebar-part {
  background: var(--ash-side-bar-background);
}
.ash-sidebar-part > .ash-composite-content { overflow: auto; }
