.stanza-editor-symbol-icon {
  color: var(--zeta-description-foreground);
  font-size: 11px;
  text-align: center;
  user-select: none;
}

.stanza-editor-symbol-icon::before {
  content: "◇";
}

.stanza-editor-symbol-icon.class::before {
  content: "◆";
}

.stanza-editor-symbol-icon.function::before {
  content: "ƒ";
}

.stanza-editor-symbol-icon.property::before {
  content: "·";
}
