.zeta-sash {
  position: absolute;
  z-index: var(--zeta-z-index-sash, 35);
  touch-action: none;
  user-select: none;
}
.zeta-sash::before, .zeta-sash::after {
  position: absolute;
  content: "";
}
.zeta-sash::before {
  background: transparent;
}
.zeta-sash::after {
  background-color: transparent;
  border-radius: 999px;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .zeta-sash::after {
    transition: background-color 100ms ease-out;
  }
}
.zeta-sash-vertical { width: 1px; transform: translateX(-.5px); }
.zeta-sash-horizontal { height: 1px; transform: translateY(-.5px); }
.zeta-sash-inset.zeta-sash-vertical {
  width: var(--zeta-sash-inset-gap);
  transform: translateX(calc(var(--zeta-sash-inset-gap) / -2));
  clip-path: inset(calc(var(--zeta-sash-inset-gap) / 2) 0);
}
.zeta-sash-inset.zeta-sash-horizontal {
  height: var(--zeta-sash-inset-gap);
  transform: translateY(calc(var(--zeta-sash-inset-gap) / -2));
  clip-path: inset(0 calc(var(--zeta-sash-inset-gap) / 2));
}
.zeta-sash-inset.zeta-sash-has-orthogonal-start,
.zeta-sash-inset.zeta-sash-has-orthogonal-end {
  clip-path: none;
  z-index: calc(var(--zeta-z-index-sash, 35) + 1);
}
.zeta-sash-vertical::before {
  top: 0;
  bottom: 0;
  left: 50%;
  width: var(--zeta-sash-drag-area-size, 4px);
  transform: translateX(-50%);
}
.zeta-sash-horizontal::before {
  top: 50%;
  right: 0;
  left: 0;
  height: var(--zeta-sash-drag-area-size, 4px);
  transform: translateY(-50%);
}
.zeta-sash-vertical::after {
  top: 0;
  bottom: 0;
  left: 50%;
  width: var(--zeta-sash-hover-feedback-size, 1px);
  transform: translateX(-50%);
}
.zeta-sash-horizontal::after {
  top: 50%;
  right: 0;
  left: 0;
  height: var(--zeta-sash-hover-feedback-size, 1px);
  transform: translateY(-50%);
}
.zeta-sash-hover::after, .zeta-sash-active::after, .zeta-sash:focus-visible::after {
  background: var(--zeta-sash-hover-background);
}
.zeta-sash-vertical { cursor: col-resize; }
.zeta-sash-horizontal { cursor: row-resize; }
.zeta-sash-vertical.zeta-sash-minimum { cursor: e-resize; }
.zeta-sash-vertical.zeta-sash-maximum { cursor: w-resize; }
.zeta-sash-horizontal.zeta-sash-minimum { cursor: s-resize; }
.zeta-sash-horizontal.zeta-sash-maximum { cursor: n-resize; }
.zeta-sash-disabled { cursor: default; pointer-events: none; }
.zeta-sash-orthogonal-handle {
  position: absolute;
  z-index: 1;
  width: calc(var(--zeta-sash-drag-area-size, 4px) * 2);
  height: calc(var(--zeta-sash-drag-area-size, 4px) * 2);
  cursor: all-scroll;
}
.zeta-sash-vertical > .zeta-sash-orthogonal-handle {
  left: 50%;
  transform: translate(-50%, -50%);
}
.zeta-sash-vertical > .zeta-sash-orthogonal-handle-start { top: 0; }
.zeta-sash-vertical > .zeta-sash-orthogonal-handle-end { top: 100%; }
.zeta-sash-horizontal > .zeta-sash-orthogonal-handle {
  top: 50%;
  transform: translate(-50%, -50%);
}
.zeta-sash-horizontal > .zeta-sash-orthogonal-handle-start { left: 0; }
.zeta-sash-horizontal > .zeta-sash-orthogonal-handle-end { left: 100%; }
