.zeta-sash {
  position: absolute;
  z-index: 2;
  background: var(--zeta-border);
}
.zeta-sash::before {
  position: absolute;
  content: "";
}
.zeta-sash-vertical { width: 1px; transform: translateX(-.5px); }
.zeta-sash-horizontal { height: 1px; transform: translateY(-.5px); }
.zeta-sash-vertical::before { inset: 0 -2px; }
.zeta-sash-horizontal::before { inset: -2px 0; }
.zeta-sash:hover, .zeta-sash:active {
  background: var(--zeta-sash-hover-background);
}
.zeta-sash-vertical { cursor: col-resize; }
.zeta-sash-horizontal { cursor: row-resize; }
