.glyph-margin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  box-sizing: border-box;
  min-height: 100%;
  pointer-events: none;
  background: var(--zeta-editor-background);
}

@media (forced-colors: active) {
  .glyph-margin {
    background: Canvas;
  }
}
