.zeta-workbench-statusbar {
  color: var(--zeta-status-bar-foreground);
  background: var(--zeta-status-bar-background);
  font-size: 12px;
}

.zeta-workbench-statusbar .zeta-workbench-part-content {
  flex-direction: row;
  align-items: stretch;
  padding: 0 4px;
}

.zeta-statusbar-items {
  display: flex;
  min-width: 0;
  align-items: stretch;
}

.zeta-statusbar-items-right {
  flex-direction: row-reverse;
  margin-left: auto;
}

.zeta-statusbar-item {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 4px;
  padding: 0 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.zeta-statusbar-item > .zeta-icon {
  width: 14px;
  height: 14px;
}
