.zeta-workbench-statusbar {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  overflow: hidden;
  color: var(--zeta-status-bar-foreground);
  background: var(--zeta-status-bar-background);
  font-size: 12px;
}

.zeta-workbench-statusbar .zeta-workbench-part-content {
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

.zeta-statusbar-items {
  display: flex;
  min-width: 0;
  align-items: stretch;
}

.zeta-statusbar-items-right {
  flex: 0 1 auto;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-left: auto;
}
