.aster-editor-inlay-hint {
  position: absolute;
  z-index: 3;
  color: var(--zeta-editor-inlay-hint-foreground, var(--zeta-editor-description-foreground));
  pointer-events: none;
  opacity: 0.85;
}
