.aster-editor-margin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  box-sizing: border-box;
  min-height: 100%;
  pointer-events: none;
  background: var(--zeta-editor-background);
}

.aster-editor-feature-gutter-slot {
  position: relative;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 100%;
  vertical-align: top;
}

.aster-editor-feature-gutter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: var(--aster-editor-feature-gutter-width, 0px);
  height: 100%;
  white-space: nowrap;
}

@media (forced-colors: active) {
  .aster-editor-margin {
    background: Canvas;
  }
}
