.stanza-editor-line-decorations {
	position: relative;
	box-sizing: border-box;
	min-width: 100%;
  z-index: 1;
  pointer-events: none;
}

.stanza-editor-decoration {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}

.stanza-editor-decoration.search-match {
  background: var(--zeta-search-match-background);
}

.stanza-editor-decoration.bracket-match {
  border: 1px solid var(--zeta-focus-border);
}

.stanza-editor-decoration.error-underline {
  border-bottom: 2px solid var(--zeta-error-foreground);
}

.stanza-editor-decoration.warning-underline {
  border-bottom: 2px solid var(--zeta-warning-foreground);
}

.stanza-editor-decoration.information-underline {
  border-bottom: 2px solid var(--zeta-focus-border);
}

.stanza-editor-decoration.hint-underline {
  border-bottom: 1px dotted var(--zeta-description-foreground);
}

@media (forced-colors: active) {
  .stanza-editor-decoration.error-underline,
  .stanza-editor-decoration.warning-underline,
  .stanza-editor-decoration.information-underline,
  .stanza-editor-decoration.hint-underline {
    border-bottom-color: CanvasText;
  }
}
