.zeta-composite-bar {
  box-sizing: border-box;
  display: flex;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.zeta-composite-bar > .zeta-tab-list {
  width: auto;
  flex: 1 1 auto;
}

.zeta-composite-bar-overflow {
  display: flex;
  align-items: center;
  flex: 0 0 var(--zeta-toolbar-action-size);
}

.zeta-composite-bar-overflow.hidden {
  display: none;
}

.zeta-composite-bar-overflow > .zeta-button {
  width: var(--zeta-toolbar-action-size);
  min-width: var(--zeta-toolbar-action-size);
  height: var(--zeta-toolbar-action-size);
  min-height: var(--zeta-toolbar-action-size);
  padding: 3px;
  border: 0;
  color: var(--zeta-composite-bar-inactive-foreground);
}

.zeta-composite-bar-overflow > .zeta-button .zeta-icon {
  width: 16px;
  height: 16px;
}

.zeta-composite-bar-overflow .zeta-button-label,
.zeta-composite-bar-overflow .zeta-dropdown-menu-indicator {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.zeta-composite-bar
  .zeta-tab-list-scroll-content
  > .zeta-action-bar {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: row;
  gap: 2px;
}

.zeta-composite-bar
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab {
  position: relative;
  flex: 0 0 auto;
  border: 0;
  border-radius: 4px;
  color: var(--zeta-composite-bar-inactive-foreground);
}

.zeta-composite-bar-icon
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab {
  width: 24px;
  min-width: 24px;
  padding: 0;
}

.zeta-composite-bar-label
  .zeta-tab-list-scroll-content
  > .zeta-action-bar {
  padding: 0 var(--zeta-tab-list-content-inset);
  font-size: var(--zeta-font-size-body1);
  line-height: 20px;
}

.zeta-composite-bar-label
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab {
  width: auto;
  min-width: 0;
}

.zeta-composite-bar
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab:hover
  > .zeta-tab-label,
.zeta-composite-bar
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab.checked
  > .zeta-tab-label {
  opacity: 1;
}

.zeta-composite-bar
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab.checked {
  color: var(--zeta-composite-bar-foreground);
}

.zeta-composite-bar .zeta-tab-label {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  color: inherit;
  background: transparent;
  text-decoration: none;
  opacity: 0.6;
}

.zeta-composite-bar-icon
  .zeta-tab.icon
  > .zeta-tab-label
  .zeta-icon-label-text {
  display: none;
}

.zeta-composite-bar-icon .zeta-tab-label {
  padding: 0;
}

.zeta-composite-bar-label .zeta-tab-label {
  width: auto;
}

.zeta-composite-bar-label .zeta-icon-label-text {
  display: block;
  white-space: nowrap;
}

.zeta-composite-bar .zeta-tab-label .zeta-icon {
  width: 16px;
  height: 16px;
}
