.zeta-composite-bar {
  box-sizing: border-box;
  display: flex;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.zeta-composite-bar
  .zeta-tab-list-scroll-content
  > .zeta-action-bar {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  padding: 0 2px;
}

.zeta-composite-bar
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab {
  position: relative;
  border: 0;
  border-radius: 4px;
  color: var(--zeta-composite-bar-inactive-foreground);
  background: transparent;
}

.zeta-composite-bar-icon
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab {
  height: 26px;
  width: 26px;
  min-width: 28px;
  min-height: 28px;
  padding: 0;
}

.zeta-composite-bar-label
  .zeta-tab-list-scroll-content
  > .zeta-action-bar {
  gap: 0;
  padding: 0 8px;
}

.zeta-composite-bar-label
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab {
  width: auto;
  min-width: 0;
  height: 100%;
  min-height: 0;
  padding: 0 5px;
}

.zeta-composite-bar
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab:hover {
  color: var(--zeta-composite-bar-foreground);
  background: var(--zeta-button-hover-background);
}

.zeta-composite-bar
  .zeta-tab-list-scroll-content
  > .zeta-action-bar
  > .zeta-tab.checked {
  color: var(--zeta-composite-bar-foreground);
  background: var(--zeta-button-active-background);
}

.zeta-composite-bar .zeta-tab-label {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  outline: none;
  color: inherit;
  background: transparent;
  cursor: default;
  font: inherit;
  text-decoration: none;
}

.zeta-composite-bar-icon
  .zeta-tab.icon
  > .zeta-tab-label
  .zeta-icon-label-text {
  display: none;
}

.zeta-composite-bar-label .zeta-tab-label {
  width: auto;
  padding: 0 2px;
}

.zeta-composite-bar-label .zeta-icon-label-text {
  display: block;
  white-space: nowrap;
}

.zeta-composite-bar .zeta-tab-label .zeta-icon {
  width: 16px;
  height: 16px;
}
