.stanza-editor-line-margin {
  position: absolute;
  left: 0;
  z-index: 4;
  display: block;
  box-sizing: border-box;
  width: var(--stanza-editor-gutter-width);
  height: 100%;
  user-select: none;
  background: var(--zeta-editor-background);
}

.stanza-editor-line-number {
  position: absolute;
  left: var(--stanza-editor-line-numbers-left);
  display: block;
  box-sizing: border-box;
  width: var(--stanza-editor-line-numbers-width);
  height: 100%;
  padding: 0 8px;
  color: var(--zeta-description-foreground);
  font-variant-numeric: tabular-nums;
  text-align: right;
}

.stanza-editor-line-number.active {
  color: var(--zeta-editor-foreground);
}

@media (forced-colors: active) {
  .stanza-editor-line-margin {
    background: Canvas;
  }

  .stanza-editor-line-number {
    color: CanvasText;
  }
}
