.aster-editor-line-number {
  position: sticky;
  left: 0;
  z-index: 4;
  display: inline-block;
  box-sizing: border-box;
  width: var(--aster-editor-gutter-width);
  padding: 0 8px 0 calc(var(--aster-editor-additional-feature-gutter-width, 0px) + 8px);
  color: var(--zeta-description-foreground);
  text-align: right;
  user-select: none;
  background: var(--zeta-editor-background);
}

.aster-editor-line-number.active {
  color: var(--zeta-editor-foreground);
}

@media (forced-colors: active) {
  .aster-editor-line-number {
    color: CanvasText;
    background: Canvas;
  }
}
