.stanza-editor-inline-completion {
  position: absolute;
  z-index: 4;
  color: var(--zeta-editor-inline-completion-foreground, var(--zeta-editor-description-foreground));
  pointer-events: none;
  white-space: pre;
  opacity: 0.75;
}
