.zeta-workbench-titlebar {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-bottom: 1px solid var(--zeta-border);
  background: var(--zeta-title-bar-background);
}

.zeta-workbench-titlebar .zeta-workbench-part-title {
  display: flex;
  min-width: 0;
  height: 100%;
  align-items: center;
  gap: 8px;
}

.zeta-workbench-titlebar .zeta-workbench-part-content {
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.zeta-titlebar-actions {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--zeta-title-bar-action-foreground);
}

.zeta-titlebar-left-actions {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--zeta-title-bar-action-foreground);
}
