.ash-toolbar {
  align-items: center;
}

.ash-toolbar.empty {
  display: none;
}

.ash-toolbar + .ash-toolbar {
  margin-left: var(--ash-toolbar-item-gap);
}

.ash-toolbar-inherit-foreground .ash-button {
  color: inherit;
}

.ash-toolbar .ash-action-view-item > .ash-button {
  height: var(--ash-toolbar-action-size);
  min-height: var(--ash-toolbar-action-size);
  padding-block: 3px;
}

.ash-toolbar .ash-action-view-item > .ash-action-label {
  height: var(--ash-toolbar-action-size);
  min-height: var(--ash-toolbar-action-size);
}

.ash-toolbar .ash-action-view-item.icon > .ash-button {
  width: var(--ash-toolbar-action-size);
  min-width: var(--ash-toolbar-action-size);
  border: 0;
  padding: 3px;
}

.ash-toolbar .ash-action-view-item.icon .ash-button-label,
.ash-toolbar-more-actions .ash-dropdown-menu-indicator {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
