.zeta-sash {
  flex: 0 0 1px;
  z-index: 2;
  background: var(--zeta-border, #2b2b2b);
}
.zeta-sash:hover, .zeta-sash:active {
  background: var(--zeta-sash-hover-background, #007acc);
}
.zeta-sash-vertical { cursor: col-resize; }
.zeta-sash-horizontal { cursor: row-resize; }
