.aster-editor-placeholder-text {
  position: absolute;
  z-index: 7;
  color: var(--zeta-description-foreground);
  pointer-events: none;
  white-space: pre-wrap;
}

.aster-editor-embedded .aster-editor-placeholder-text {
  color: var(--zeta-input-placeholder-foreground);
}
