.stanza-editor-placeholder-text {
  position: absolute;
  z-index: 7;
  overflow: hidden;
  color: var(--zeta-description-foreground);
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
}

.stanza-editor-embedded .stanza-editor-placeholder-text {
  color: var(--zeta-input-placeholder-foreground);
}
