.stanza-editor-lines {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  min-width: 100%;
  will-change: transform;
}

.stanza-editor-line {
  position: relative;
  box-sizing: border-box;
  min-width: 100%;
  overflow: visible;
  white-space: pre;
}

.stanza-editor-line-text,
.stanza-editor-text-metrics {
  box-sizing: border-box;
  padding: 0 var(--stanza-editor-padding-right) 0 var(--stanza-editor-padding-left);
}

.stanza-editor-line-text {
  position: relative;
  z-index: 3;
  display: inline-block;
  unicode-bidi: isolate;
}

.stanza-editor-direction-auto .stanza-editor-line-text {
  unicode-bidi: plaintext;
}

.stanza-editor-token.token-comment {
  color: var(--zeta-editor-token-comment-foreground);
}

.stanza-editor-token.token-keyword {
  color: var(--zeta-editor-token-keyword-foreground);
}

.stanza-editor-token.token-string {
  color: var(--zeta-editor-token-string-foreground);
}

.stanza-editor-token.token-number {
  color: var(--zeta-editor-token-number-foreground);
}

.stanza-editor-token.token-regexp {
  color: var(--zeta-editor-token-regexp-foreground);
}

.stanza-editor-token.token-type {
  color: var(--zeta-editor-token-type-foreground);
}

.stanza-editor-token.token-function {
  color: var(--zeta-editor-token-function-foreground);
}

.stanza-editor-token.token-variable {
  color: var(--zeta-editor-token-variable-foreground);
}

.stanza-editor-token.token-operator {
  color: var(--zeta-editor-token-operator-foreground);
}

.stanza-editor-token.token-modifier-declaration {
  font-weight: 600;
}

.stanza-editor-token.token-modifier-readonly,
.stanza-editor-token.token-modifier-abstract,
.stanza-editor-token.token-modifier-async {
  font-style: italic;
}

.stanza-editor-token.token-modifier-static {
  text-decoration: underline dotted;
}

.stanza-editor-token.token-modifier-deprecated {
  text-decoration: line-through;
}

.stanza-editor-bracket-level-1 {
  color: var(--zeta-editor-token-keyword-foreground);
}

.stanza-editor-bracket-level-2 {
  color: var(--zeta-editor-token-function-foreground);
}

.stanza-editor-bracket-level-3 {
  color: var(--zeta-editor-token-type-foreground);
}

.stanza-editor-bracket-level-4 {
  color: var(--zeta-editor-token-number-foreground);
}

.stanza-editor-bracket-level-5 {
  color: var(--zeta-editor-token-string-foreground);
}

.stanza-editor-bracket-level-6 {
  color: var(--zeta-editor-token-variable-foreground);
}
