.stanza-editor-diagnostic-marker {
  position: absolute;
  top: 0;
  left: max(20px, var(--stanza-editor-feature-gutter-width, 0px));
  z-index: 5;
  width: 20px;
  height: 100%;
  font-size: 10px;
  line-height: inherit;
  text-align: center;
  pointer-events: auto;
  cursor: help;
}

.stanza-editor-diagnostic-marker.error {
  color: var(--zeta-error-foreground);
}

.stanza-editor-diagnostic-marker.warning {
  color: var(--zeta-warning-foreground);
}

.stanza-editor-diagnostic-marker.information {
  color: var(--zeta-focus-border);
}

.stanza-editor-diagnostic-marker.hint {
  color: var(--zeta-description-foreground);
}

@media (forced-colors: active) {
  .stanza-editor-diagnostic-marker {
    background: CanvasText;
    color: CanvasText;
  }
}
