.zeta-toolbar {
  align-items: center;
}

.zeta-toolbar + .zeta-toolbar {
  margin-left: var(--zeta-toolbar-item-gap);
}

.zeta-toolbar .zeta-action-view-item.icon .zeta-button {
  width: var(--zeta-toolbar-action-size);
  min-width: var(--zeta-toolbar-action-size);
  height: var(--zeta-toolbar-action-size);
  min-height: var(--zeta-toolbar-action-size);
  padding: 4px;
}

.zeta-toolbar .zeta-action-view-item.icon .zeta-button-label,
.zeta-toolbar-more-actions .zeta-dropdown-menu-indicator {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
