@font-face {
  font-family: "Ash Seti";
  src: url("./media/seti/seti.woff") format("woff");
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.ash-seti-file-icon {
  font-family: "Ash Seti";
  font-size: 150%;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
}
