.ash-pane-composite-title {
  display: flex;
  min-width: 0;
  height: var(--ash-pane-title-height);
  flex: 0 0 var(--ash-pane-title-height);
  align-items: center;
}

.ash-pane-composite-title[hidden] {
  display: none;
}

.ash-pane-composite-title-content {
  display: flex;
  min-width: 0;
  height: 100%;
  flex: 1 1 auto;
}

.ash-pane-composite-title-content > .ash-composite-bar {
  min-width: 0;
  height: 100%;
  flex: 1 1 auto;
}

.ash-pane-composite-title-content > .ash-composite-bar[hidden] {
  display: none;
}

.ash-pane-composite-title-actions {
  display: flex;
  height: 100%;
  flex: 0 0 auto;
  align-items: center;
  margin-left: auto;
  padding: 0 4px;
}

.ash-pane-composite-title-menu-actions.ash-toolbar {
  height: 100%;
}
