.zeta-action-bar { display: flex; align-items: stretch; gap: var(--zeta-action-bar-gap); }
.zeta-action-bar.vertical { flex-direction: column; }
.zeta-action-bar .zeta-icon { width: 18px; height: 18px; }
.zeta-action-bar.highlight-toggled .zeta-button.checked {
  background: var(--zeta-button-active-background);
}
.zeta-action-view-item { display: flex; align-items: stretch; }
.zeta-action-view-item-separator {
  align-self: center;
  width: 1px;
  height: 16px;
  background: currentColor;
  opacity: .35;
}
