.stanza-editor .stanza-editor-rulers,
.stanza-editor .stanza-editor-ruler {
	position: absolute;
	top: 0;
	pointer-events: none;
}

.stanza-editor .stanza-editor-ruler {
	width: var(--zeta-stroke-thickness);
	background-color: var(--stanza-editor-ruler-color, var(--zeta-editor-ruler-foreground));
}
