.ash-list {
  margin: 0;
  padding: 0;
}

.ash-list-row {
  cursor: default;
}

.ash-list-row.ash-dnd-drop-before {
  box-shadow: inset 0 1px 0 var(--ash-focus-border);
}

.ash-list-row.ash-dnd-drop-after {
  box-shadow: inset 0 -1px 0 var(--ash-focus-border);
}
