.zeta-pane-composite-title {
  display: flex;
  min-width: 0;
  height: 35px;
  flex: 0 0 35px;
  align-items: center;
}

.zeta-pane-composite-title[hidden] {
  display: none;
}

.zeta-pane-composite-title-content {
  display: flex;
  min-width: 0;
  height: 100%;
  flex: 1 1 auto;
}

.zeta-pane-composite-title-content > .zeta-composite-bar {
  min-width: 0;
  height: 100%;
  flex: 1 1 auto;
}

.zeta-pane-composite-title-content > .zeta-composite-bar[hidden] {
  display: none;
}

.zeta-pane-composite-title-actions {
  display: flex;
  height: 100%;
  flex: 0 0 auto;
  align-items: center;
  margin-left: auto;
  padding: 0 6px;
}

.zeta-pane-composite-title-menu-actions.zeta-toolbar {
  height: 100%;
}
